*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    padding: 20px;
}

#tabs{
    display: flex;
    gap: 20px;
}
.tab{
    padding: 12px 22px;
    background-color:#c6c5c5 ;

    border: 2px solid #dadada;
    border-radius: 10px;
    font-weight: 700;
}
p{
    margin-top: 20px;
    display: none;
}